<a href="/node/{{ node.nid.0.value }}">
    
    <figure class="gallery-item">
        {{ content.field_image_single }}
        <figcaption>
            {{ label }}
        </figcaption>
    </figure>
    
</a>