<a href="/"><img class="mobile-logo" src="/{{ base_path ~ directory }}/logo.png" /></a>
{{ content }}
<a href="#" class="hamburger">
    <div class="patty"></div>
    <div class="patty"></div>
    <div class="patty"></div>
</a>
<a href="/search/wavemetrics?keys=" class="site-search-icon"></a>