<a class="general-cta-link" href="/downloads/current/{{ content.field_paragraph_ref_download_fam[0]['#title'] }}" >
    {{ content.field_paragraph_h2 }}
    {% if content.field_paragraph_p | render %}
        {{ content.field_paragraph_p }}
    {% endif %}
</a>