<section class="paragraph paragraph-product-dr paragraph-product-dr-full">

    <h3>{{ content.field_paragraph_title.0 }}</h3>

    {{ content|without('field_paragraph_title') }}
            
</section>